<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon name="close" mode="md"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end" *ngIf="values.length > 0">
      <ion-button>
        Enregistrer
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <div *ngFor="let value of values">
      <!-- TYPE IS TOGGLE -->
      <ion-item *ngIf="value.type === 'toggle'">
        <ion-label>{{ value.placeholder }}</ion-label>
        <ion-toggle color="primary"></ion-toggle>
      </ion-item>

      <!-- TYPE IS INPUT -->
      <ion-item *ngIf="value.type === 'input'">
        <ion-label position="stacked">{{ value.placeholder }}</ion-label>
        <ion-input placeholder="Lorem Ipsum"></ion-input>
      </ion-item>

      <!-- TYPE IS DROPDOWN -->
      <ion-item *ngIf="value.type === 'dropdown'">
        <ion-label>{{ value.placeholder }}</ion-label>
        <ion-select>
          <ion-select-option *ngFor="let opt of value.values" value="{{ opt.value }}">{{ opt.text }}</ion-select-option>
        </ion-select>
      </ion-item>
    </div>
    <div *ngIf="values.length === 0">
      <p class="ion-text-center">Aucune option n'est disponible pour cette application</p>
    </div>
  </ion-list>
</ion-content>
