page-login {
}

.login {
  background: $gradient-background no-repeat;
  &-header {
    margin-top: 7rem;
  }
  &-form {
    backdrop-filter: blur(70px);
    margin-top: 5rem;
    padding-bottom: 3rem;
    ion-item {
      background: transparent;
      border-bottom: none;
    }
  }
}
