.close-button {
  font-size: 2rem;
  position: absolute;
  top: 0;
  left: 0;
  margin: 2rem 2rem;
  color: white;
  z-index: 100;
}

.background {
  height: 45vh;
  width: 100%;
  background: linear-gradient(141deg, #40c4ff 15%, #7a43f2 80%) no-repeat;
}

.mirror {
  text-align: center;
  margin-top: -145px;
}

.name {
  text-align: center;
  font-size: 1rem;
  margin: 1rem 0;
}

.date {
  text-align: center;

  &-content {
    text-align: center;
    color: grey;
    border: 1px #e4e4e4 solid;
    border-radius: 1000px;
    display: inline-block;
    padding: .5rem 1rem;
    font-size: .8rem;
  }
}

.action {
  &-buttons {
    text-align: center;
    margin: 2rem 1rem;

    .edit-button ion-icon {
      display: inline-block;
      font-size: 3vh;
      color: var(--ion-color-dark);
      background-color: #f3f3f3;
      padding: 1rem 1rem;
      border-radius: 1000px;
    }
  }

  &-text {
    display: block;
    color: var(--ion-color-dark);
    margin-top: 1rem;
  }
}
