<ion-header>

</ion-header>

<ion-content forceOverscroll="false">

  <div class="background"></div>
  <div class="mirror">
    <img src="assets/imgs/avatar.svg" height="120">
  </div>
  <div class="name">
    Username
  </div>
  <div class="date">
    <div class="date-content">
      created_at
    </div>
  </div>
  <div class="action-buttons">
    <div class="edit-button" (click)="logout()">
      <ion-icon name="power"></ion-icon>
      <span class="action-text">Se déconnecter</span>
    </div>
  </div>

</ion-content>
