<ion-header>
  <ion-toolbar>
    <ion-title>Ajouter un miroir</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Fermer</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-grid>
    <h4>QR Code</h4>
    <ion-row>
      <ion-col col-4>
        <div class="mirror-qrscran">
          <img src="assets/imgs/qr-code.svg">
        </div>
      </ion-col>
      <ion-col col-8>
        <div class="mirror-qrscan">
          <p>Pour lier un nouveau miroir à votre compte, scannez son QRCode</p>
          <span style="text-align: center; width: 100%; display: block">
            <ion-button color="primary">Scanner QRCode</ion-button>
          </span>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <hr/>
  <ion-grid>
    <h4>ID</h4>
    <ion-row>
      <ion-col col-12>
        <div class="mirror-input">
          <p>Si vous n'avez pas la possibilité de scanner le QRCode, veuillez rentrer l'id du miroir directement</p>
          <ion-item>
            <ion-label position="stacked" color="primary">ID du miroir</ion-label>
            <ion-input type="text" placeholder="XXXX-XXXX-XXXX-XXXX" [(ngModel)]="mirrorId"></ion-input>
          </ion-item>
          <ion-button color="primary" float-right (click)="linkMirror()">Envoyer</ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
