<ion-header>

  <ion-navbar>
    <ion-title>
      <img src="assets/imgs/elios.png" width="30px" style="vertical-align: middle">
      <span class="title-text">Elios Mirror</span>
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <loader *ngIf="loader" padding></loader>

  <ion-list *ngIf="mirrors !== undefined && !loader">

    <ion-item-sliding *ngFor="let mirror of mirrors" #slidingItem>
      <ion-item (click)="navigate('mirror', { 'mirror': mirror })">
        <ion-avatar class="icon" item-start>
          <ion-icon name="aperture"></ion-icon>
        </ion-avatar>
        <div class="state" [style.background]="'#27c295'"></div>
        <h2>{{ mirror.name }}</h2>
        <p>{{ mirror.ip }}</p>
        <ion-note item-end>
          <ion-icon name="arrow-forward"></ion-icon>
        </ion-note>
      </ion-item>

      <ion-item-options>
        <button ion-button color="danger" (click)="deleteMirror(slidingItem, mirror.id)" large>
          <ion-icon name="trash" style="padding: 0"></ion-icon>
        </button>
      </ion-item-options>
    </ion-item-sliding>
    <div *ngIf="!mirrors.length" text-center>
      <p class="no-mirror-found">Aucun miroir n'est lié à ce compte</p>
    </div>
  </ion-list>
</ion-content>
