.toolbar-background {
  background: white;
  border: none !important;
}

.text {
  display: inline-block;
  vertical-align: top;
  margin-left: 2rem;
}

.name {
  font-size: 1.8rem;
  font-weight: bold;
  display: block;
  margin-bottom: .75rem;
  color: var(--ion-color-dark);
}

.button {
  display: block;
  margin-top: 1rem;
  text-align: left;

  button {
    padding: 0 1.5rem;
    height: 3rem;
  }
}

.model {
  vertical-align: top;
  display: block;
}

.author {
  color: grey;
  word-break: break-all;
}

ion-icon {
  font-size: 12rem;
}

.body {
  margin-top: 1.5rem;
}

.pictures {
  border-top: 1px solid lightgrey;
  padding-top: 2rem;
  margin-bottom: 1.5rem;
  height: 65vh;
  overflow: hidden;
}

.description {
  border-top: 1px solid lightgrey;
  padding-top: 2rem;
  margin-bottom: 1.5rem;

  p {
    margin: 0;
    padding: 0 .75rem;
  }
}

.information {
  padding-top: 2rem;
  border-top: 1px solid lightgrey;

  .item {
    padding: 0;
  }

  .information-title {
    font-size: 1.3rem;
    color: grey;
  }

  .information-content {
    font-size: 1.3rem;
  }
}

ion-slides {
  img {
    padding: 1rem;
    width: auto;
    object-fit: cover;
  }
}
