<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" (click)="myBackButton()">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="header">
    <div class="module">
      <ion-grid>
        <ion-row>
          <ion-col col-4>
            <ion-img *ngIf="application.logo_url" src="{{ application.logo_url }}" style="border-radius: 20px"></ion-img>
            <ion-icon name="logo-dropbox" *ngIf="!application.logo_url"></ion-icon>
          </ion-col>
          <ion-col col-8>
            <div class="text">
              <span class="name">{{ application.title }}</span>
              <span class="author">{{ application.repository }}</span>
              <div class="button">
                <!--<loader-module *ngIf="loader"></loader-module>-->
                <ion-button  (click)="uninstall ? uninstallApp() : install()" *ngIf="!loader">
                  {{ loader ? '' : buttonText }}
                </ion-button>
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
  <div class="body">
    <div class="pictures">
      <h4>Preview</h4>
      <ion-slides pager="true" paginationType="bullets" *ngIf="isArray(application.screenshots)">
        <ion-slide *ngFor="let screenshot of application.screenshots">
          <img src="{{ screenshot }}">
        </ion-slide>
      </ion-slides>
    </div>
    <div class="description">
      <p>{{ application.description }}</p>
    </div>
    <div class="information">
      <h4>Informations</h4>
      <ion-item-group>
        <ion-item>
          <div class="information-title">
            Developpeur
          </div>
          <div class="information-content" item-end>
            {{ application.repository }}
          </div>
        </ion-item>
        <ion-item>
          <div class="information-title">
            Catégorie
          </div>
          <div class="information-content" item-end>
            {{ application.category }}
          </div>
        </ion-item>
        <ion-item>
          <div class="information-title">
            Date de publication
          </div>
          <div class="information-content" item-end>
            {{ application.created_at }}
          </div>
        </ion-item>
      </ion-item-group>
    </div>
  </div>
</ion-content>
