ion-list {
  .icon {
    display: flex;
    align-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
  }
}

.title-text {
  margin-left: 1rem;
  font-weight: lighter;
  color: #2f2f2f;
}

.no-mirror-found {
  color: grey;
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 3rem;
}

ion-img {
  width: 30px;
  vertical-align: middle;
  display: inline-block;
}

ion-card-header {
  --background: #212121;
  color: white;
}

ion-card-content {
  font-size: 1rem;
  padding: 1rem 1rem;
  min-height: 76px;
}

ion-card {
  margin: .25rem;
}
