<ion-header>

  <ion-toolbar>
    <ion-title>
      <ion-img src="assets/imgs/elios.png"></ion-img>
      <span class="title-text">Elios Mirror</span>
    </ion-title>
  </ion-toolbar>

</ion-header>


<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-progress-bar type="indeterminate" *ngIf="loader"></ion-progress-bar>

  <ion-list *ngIf="mirrors !== undefined && mirrors !== null">

    <ion-item-sliding *ngFor="let mirror of mirrors" #slidingItem>

      <ion-item (click)="navigateMirrorStore(mirror)">
        <ion-avatar class="icon">
          <ion-icon name="aperture" style="font-size: 1.5rem"></ion-icon>
        </ion-avatar>

        <ion-label>{{ mirror.name }}</ion-label>

        <ion-note item-end>
          <ion-icon name="arrow-forward"></ion-icon>
        </ion-note>

      </ion-item>

      <ion-item-options side="end">
        <ion-item-option color="danger" expandable (click)="deleteMirror(slidingItem, mirror.id)">
          <ion-icon name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

    <div *ngIf="!mirrors.length" text-center>
      <p class="no-mirror-found">Aucun miroir n'est lié à ce compte</p>
    </div>

  </ion-list>
</ion-content>
