<ion-header>

  <ion-toolbar>
    <ion-title>
      <ion-img src="assets/imgs/elios.png"></ion-img>
      <span class="title-text">Elios Mirror</span>
    </ion-title>
  </ion-toolbar>

</ion-header>


<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-progress-bar type="indeterminate" *ngIf="loader"></ion-progress-bar>

  <ion-grid *ngIf="mirrors !== undefined && mirrors !== null">
    <ion-row>
      <ion-col size="6" *ngFor="let mirror of mirrors" (click)="navigateMirrorStore(mirror)">
        <ion-card>
          <ion-card-header class="ion-text-center">
              <ion-icon name="home" style="font-size: 2.5rem"></ion-icon>
          </ion-card-header>

          <ion-card-content class="ion-text-center">
            {{ mirror.name }}
          </ion-card-content>
        </ion-card>

      </ion-col>

      <div *ngIf="!mirrors.length" text-center>
        <p class="no-mirror-found">Aucun miroir n'est lié à ce compte</p>
      </div>
    </ion-row>
  </ion-grid>
</ion-content>
