<ion-header>
  <ion-toolbar>
    <ion-title>Rechercher</ion-title>
  </ion-toolbar>
  <ion-searchbar animated placeholder="Elios Store" (ionInput)="search($event)"
                 (ionClear)="cancelButtonClicked()"></ion-searchbar>
</ion-header>

<ion-content>
  <ion-progress-bar type="indeterminate" *ngIf="isLoading"></ion-progress-bar>

  <ion-list *ngIf="!isLoading && applications">
    <ion-item-sliding>

      <ion-item *ngFor="let application of applications" (click)="navigateAppDetails(application)"  detail="true">

        <ion-avatar class="icon" item-start>
          <ion-img *ngIf="application.logo_url" src="{{ application.logo_url }}"
                   style="height: 1.5rem; width: 1.5rem;"></ion-img>
          <ion-icon name="logo-dropbox" *ngIf="!application.logo_url"></ion-icon>
        </ion-avatar>

        <ion-label>
          <h2>{{ application.title }}</h2>
          <p>{{ application.category }}</p>
        </ion-label>
      </ion-item>

    </ion-item-sliding>
  </ion-list>

  <div class="no-apps-found" *ngIf="!isLoading && !result" text-center>
    <div class="no-apps-found-img">
      <ion-img src="assets/imgs/not-found.svg" alt="sad face"></ion-img>
    </div>
    Aucune application n'a été trouvée
  </div>
</ion-content>
